// Navegación
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin+Sketch&family=Gabriela&family=Kode+Mono:wght@400..700&display=swap');

nav {
    background-color: #202426;
    justify-content: center;
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }

    .nav-link {
        color: white;

        &:hover {
            color: var(--color3);
        }
    }
}

.logo {
    animation: rotateLogo 10s infinite linear;
}