// Variables
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin+Sketch&family=Gabriela&family=Kode+Mono:wght@400..700&display=swap');
$color1: #202426;
$color2: #6c733d;
$color3: #9da65d;
$color4: #8c8c88;
$color5: #f2f2f2;
$font-family: 'Kode Mono', monospace;